@import url("https://fonts.googleapis.com/css?family=Lexend:200,300,400,500,600,700,800,900");

body {
  font-family: "Lexend";
}

.login-button {
    font-family: Lexend, Roboto, sans-serif;
    background-color: #fff;
    border: 1px solid #3d3d3d;
    border-radius: 30px;
    transition: all 0.3s ease;
    padding: 5px 20px;
    cursor: pointer;
}
.login-button:hover {
    background-color: #3d3d3d;
    color: #fff;
}

.login-input{
    border: 0;
    border-bottom: 1px solid #8d8d8d;
    padding: 5px 20px;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}
.login-input:focus{
    outline: none;
    border-bottom: 1px solid #3d3d3d;
}
.login-input::placeholder{
    color: red;
}